.form-title{
  color:#8a2303;
  letter-spacing: 5px;
  padding: 10px;
}
form{
  padding: 20px;
  //text-align: center;
  //margin-left: 5%;

  button{
    font-size: 18px;
    width: 200px;
    color:white;
    letter-spacing: 5px;
    padding: 10px;
    font-weight: bold;
    background: linear-gradient(#188694, #535353, #74a3ca);
  }
  button:hover{
    background: linear-gradient(#c96550, #535353, #dea475);
  }

}
//.add-form{
// display: grid;
//  grid-template-columns: 20% 20% 20% 20% 20%;
//  grid-template-rows: 50% 50%;
//  .row{
//    justify-self: center;
//    display: grid;
//    grid-template-columns: 20% 20% 20% 20% 20%;
//  }
//}
.mat-form-field-appearance-legacy .mat-form-field-infix{
  width: 250px;
}
.mat-form-field{
  width: 100%;
}
.add-book-copy{
  width: 180px!important;
  font-size: 10px!important;
  background: linear-gradient(#3cd7e9, #b8aec3, #74a3ca)!important;
}

.add-book{
  margin-top: 200px;
}
.bookCopies{
  margin-top: 5%;
  margin-left: -10px;
}

.pCopy{
  font-family: "Poppins-Regular", serif;
  font-weight: lighter;
  font-size: 20px;
  letter-spacing: 2.5px;
}
.image-upload-container {
  cursor: pointer;
}

.img-preview-container {
  background-color: #f7f7f7;
  position: relative;

  .img-preview {
    background: center center no-repeat;
    background-size: contain;
    height: 116px;
    width: 116px;

    &-error {
      display: none;
    }
  }
}

.img-loading-overlay {
  background-color: black;
  bottom: 0;
  left: 0;
  opacity: .2;
  position: absolute;
  right: 0;
  top: 0;
}

.img-spinning-circle {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.img-spinning-circle:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn-bwm {
  background-color: #00B4CC;
  border-color: #00B4CC;
  color: white;
  //padding: 15px 30px;
  font-size: 20px;

  &:hover, &:focus, &:active {
    border-color: #00B4CC !important;
    background-color:#00B4CC !important;
  }
}

button:disabled{
  background: darkgrey!important;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "title title author category" "pages date ranting choose" "stock publish description description" "preview preview uploaded uploaded" ". add-copies add-copies ." "copy copy copy copy";
}

.title { grid-area: title; }

.author { grid-area: author; }

.category { grid-area: category; }

.pages { grid-area: pages; }

.date { grid-area: date; }

.ranting { grid-area: ranting; }

.choose { grid-area: choose; }

.stock { grid-area: stock; }

.publish { grid-area: publish; }

.description { grid-area: description; }

.preview { grid-area: preview; }

.uploaded { grid-area: uploaded; }

.add-copies { grid-area: add-copies; }

.copy { grid-area: copy; }
