<h1 class="form-title">ADD BOOK</h1>
<h3>If you want to add a book that doesn't have an author in our database please add the author first here.</h3>
<form [formGroup]="authorForm">
  <div class="authorName">
    <mat-form-field class="example align-content-center">
      <input matInput placeholder="Author name" formControlName="name">
    </mat-form-field>
  </div>
  <button type="button" (click)="addAuthor()" class="btn btn-outline-primary">Add author</button>
</form>
<form [formGroup]="addForm" class="add-form">
<!--  {{cookieService.get('userToken')}}-->
<!--  {{cookieService.get('userLogged')}}-->

<div class="grid-container">
  <div class="title">
    <mat-form-field class="example-full-width">
    <input matInput placeholder="Book's title" formControlName="title">
    </mat-form-field>
  </div>
  <div class="author">
    <mat-form-field class="example-full-width">
      <mat-select placeholder="Choose author" formControlName="AuthorId">
        <mat-option *ngFor="let author of authors" [value]="author.id">
          {{author.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>
  <div class=" category">
    <mat-form-field class="example-full-width">
      <mat-select placeholder="Choose category" formControlName="categoryId">
        <mat-option *ngFor="let category of categories" [value]="category.id">
          {{category.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="pages">
    <mat-form-field class="example-full-width">
 <input type="number" matInput placeholder="Insert number of pages" formControlName="pages">
    </mat-form-field>
  </div>
  <div class="date">
    <mat-form-field>
      <input matInput formControlName="publishedDate" [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="rating">
    <mat-form-field class="example-full-width">
      <input type="number" matInput placeholder="Insert Rating" formControlName="rating">
    </mat-form-field>
  </div>
  <div class="choose">
    <label class="image-upload-container btn btn-bwm">
      <div class="image-upload">
<!--        <img [src]="imageSrc" style="max-width:300px;max-height:300px"/>-->
        <input class="img-upload btn-info" name="imageUrl" type="file" accept="image/*" (change)="handleInputChange($event)" />
      </div>
    </label>
  </div>
    <div class="stock">
      <mat-form-field>
        <input type="number" matInput placeholder="Stock" formControlName="stock">
      </mat-form-field>
    </div>
    <div class="publish">
      <mat-form-field class="example-full-width">
        <mat-select placeholder="Choose publish house" formControlName="PublishingHouseId">
          <mat-option *ngFor="let house of publishHouses" [value]="house.id">
            {{house.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="description">
      <mat-form-field class="example-full-width">
        <input type="text" matInput placeholder="Insert description" formControlName="description">
      </mat-form-field>
    </div>
    <div class="preview image-preview mb-3" *ngIf="previewUrl">
      <img [src]="previewUrl" height="300" />
    </div>

    <div class="upload mb-3" *ngIf="uploadedFilePath">
      {{uploadedFilePath}}
    </div>
</div>
  <button mat-button type="button" style="width: 100%" class="copy-btn add-copies add-book-copy  col-12" (click)="addBookCopies()">ADD BOOK COPIES</button>
  <br>
  <div class="" *ngIf="bookCopies.length>=1">
    <div class=" grid-container-copy bookCopies justify-content-center"  *ngFor="let copy of bookCopies;let i = index">
      <p class=" name pull-left pCopy">Copy # {{i + 1}}</p>
      <div class="biblioteque">
        <mat-select placeholder="Choose location" [(value)]="copy.LibraryId">
          <mat-option *ngFor="let library of libraries" [value]="library.id">
            {{library.name}}
          </mat-option>
        </mat-select>
      </div>
      <div class="status ">
        <mat-select placeholder="Choose status" [(value)]="copy.bookStatusId">
          <mat-option *ngFor="let status of statuses" [value]="status.id">
            {{status.title}}
          </mat-option>
        </mat-select>
      </div>
      <div class="comment">
      <input [(ngModel)]="copy.comment" placeholder="Insert comment" class="form-control"  [ngModelOptions]="{standalone: true}">
      </div>
    </div>
  </div>

  <button mat-button type="button" class="add-book pull-right" (click)="addNewBook()" disabled="{{!addForm.valid}}">ADD BOOK</button>
</form>
