<h1 class="form-title">ADD BOOK</h1>
<form [formGroup]="addForm" class="add-form">
<!--  {{cookieService.get('userToken')}}-->
<!--  {{cookieService.get('userLogged')}}-->

<div class="row justify-content-center">
  <div class="col-3 col-sm-4">
    <mat-form-field class="example-full-width">
    <input matInput placeholder="Book's title">
    </mat-form-field>
  </div>
  <div class=" col-2 col-sm-4">
    <mat-form-field class="example-full-width">
      <mat-select placeholder="Choose author">
        <mat-option *ngFor="let author of authors" [value]="author.id">
          {{author.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>
  <div class=" col-2 col-sm-4">
    <mat-form-field class="example-full-width">
      <mat-select placeholder="Choose category">
        <mat-option *ngFor="let category of categories" [value]="category.id">
          {{category.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class=" col-2 col-sm-6">
    <mat-form-field class="example-full-width">
 <input type="number" matInput placeholder="Insert number of pages">
    </mat-form-field>
  </div>
  <div class=" col-2 col-sm-6">
    <mat-form-field class="example-full-width">
      <input type="number" matInput placeholder="Insert Rating">
    </mat-form-field>
  </div>
</div>
  <div class="row justify-content-center">
    <div class="col-3 col-sm-6">
      <mat-form-field>
        <input type="number" matInput placeholder="Stock">
      </mat-form-field>
    </div>
    <div class="col-4 col-sm-6">
      <mat-form-field class="example-full-width">
        <mat-select placeholder="Choose publish house">
          <mat-option *ngFor="let house of publishHouses" [value]="house.id">
            {{house.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <button mat-button type="button" class="add-book-copy pull-left col-12" (click)="addBookCopies()">ADD BOOK COPIES</button>
  <br>
  <div class="row justify-content-center" *ngFor="let copy of bookCopies">
  <div class="col-12">
    <mat-select>
      <mat-option *ngFor="let library of libraries" [(ngModel)]="copy.library">
        {{library.name}}
      </mat-option>
    </mat-select>
    </div>
  </div>
  <button mat-button type="button" class="add-book pull-right" (click)="addNewBook()">ADD BOOK</button>
</form>
