<div class="main">

  <!-- Sign up form -->
  <section class="signup">
    <div class="container">
      <div class="signup-content">
        <div class="signup-form">
          <h2 class="form-title"><img style="width: 50px;height: 50px;" src="https://cdn4.iconfinder.com/data/icons/modern-education-1/128/3-512.png">Sign up</h2>
          <form class="register-form" id="register-form">
            <div class="form-group">
              <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
              <input [(ngModel)]="name" type="text" name="name" id="name" placeholder="Your Name"/>
            </div>
            <div class="form-group">
            <label for="email"><i class="zmdi zmdi-email"></i></label>
            <input type="email" [(ngModel)]="email" name="email" id="email" placeholder="Your Email"/>
          </div>
            <div class="form-group">
              <label for="birthdate"><i class="zmdi zmdi-email"></i></label>
              <input type="date" [(ngModel)]="birthdate" name="email" id="email" placeholder="Your birthdate"/>
            </div>
            <div class="form-group">
              <label for="username"><i class="zmdi zmdi-email"></i></label>
              <input type="text" [(ngModel)]="username" name="username" id="username" placeholder="Your username"/>
            </div>
            <div class="form-group">
              <label for="address"><i class="zmdi zmdi-email"></i></label>
              <input type="text" [(ngModel)]="address" name="address" id="address" placeholder="Your address"/>
            </div>
            <div class="form-group">
              <label for="card_number"><i class="zmdi zmdi-email"></i></label>
           <input type="text" [(ngModel)]="cardNumber" name="card_number" id="card_number" placeholder="Your card number"/>
            </div>
            <div class="form-group">
              <label for="card_expiration"><i class="zmdi zmdi-email"></i></label>
              <input type="text" [(ngModel)]="cardExpiration" name="card_expiration" id="card_expiration" placeholder="Your card expiration date"/>
            </div>
            <div class="form-group">
              <label for="pass"><i class="zmdi zmdi-lock"></i></label>
              <input type="password" [(ngModel)]="password" name="pass" id="pass" placeholder="Password"/>
            </div>
            <div class="form-group">
              <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
              <input type="password" name="re_pass" id="re_pass" placeholder="Repeat your password"/>
            </div>
            <div class="form-group">
              <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
              <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
            </div>
            <div class="form-group form-button">
              <button class="form-submit" id="signup" (click)="onRegister()">Register</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
