.rent-book-div{
  background: #fff1e9;
  color:#6e2142;
  padding: 20px;
  font-weight: bold;
  font-size: 22px;
  button{
    color:#6e2142 !important;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    background: #badfdb;
    padding: 20px;
    margin-top: 50px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
  }
  .fa-bookmark{
    padding: 5px;
  }
}
.copyDiv{
  cursor: pointer;
  border:1px solid brown;
  text-align: center;
  margin: 5px;
}

.copyDiv:hover{
  letter-spacing: 2px;
  background: #badfdb;
}
.notification-active{
  text-align: center;
  letter-spacing: 3px;
  color:darkgreen;
}
.notification{
  text-align: center;
  letter-spacing: 3px;
}
