.buttonBook{
  color: #6e2142 !important;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  background: #badfdb;
  padding: 20px;
  margin-top: 50px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}
button{
  color:#6e2142 !important;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  background: #badfdb;
  padding: 20px;
  margin-top: 50px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}
.price{
  padding: 15px;
}
.book-div{
  background: #fff1e9;
  color:#6e2142;
  padding: 20px;
  font-weight: bold;
  font-size: 22px;
}
.text-sm-center{
  font-weight: lighter;
  font-size: 14px;
  padding: 15px;
}

.notification-active{
  text-align: center;
  letter-spacing: 3px;
  color:darkgreen;
}
.notification{
  text-align: center;
  letter-spacing: 3px;
}
