<div class="book-div">

  <h4>Book your favorite book now:</h4>
  <mat-form-field class="col-12">
    <mat-label>Time:</mat-label>
    <mat-select [(ngModel)]="selectedTime">
      <mat-option *ngFor="let option of timeOptions" [value]="option">
        {{option.title}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="col-12">
    <mat-label>Select the location in which we have a copy:</mat-label>
    <mat-select [(ngModel)]="selectedCopy">
      <mat-option *ngFor="let copy of copies" [value]="copy">
        {{copy.Library?copy.Library.name:''}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="row price ">You will have to pay : {{selectedTime.cost}} RON in order to book this book.</div>
  <div class="row text-sm-center">(Your card will be debited for this action)</div>
</div>
<button mat-button class="col-md-12 buttonBook" (click)="bookThisBook()">Book now</button>
