
<footer class="mainfooter" role="contentinfo">
      <div class="row">
        <div class="col-md-8 col-sm-8 copy">
          <p style="padding: 10px">&copy; Copyright 2020 - Disertatie Andra David.  All rights reserved.</p>
        </div>
        <div class="col-md-4 col-sm-4 ">
<!--          <h6>Urmareste-ne si aici:</h6>-->
          <ul class="social-network social-circle" style="padding:10px">
            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
</footer>
