<ng-container>
  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened class="example-sidenav"
                 [fixedInViewport]="true" [fixedTopGap]="0"
                 [fixedBottomGap]="0">
      <div class="menu-item">
        <h2 class="col-md-12"><img src="../../../assets/book-logo.png"><span class="books-text" >Books </span><span class="rent-text">rent</span></h2>
      </div>
  <div class="menu-item">
    <a href="#/books" mat-menu-item class="btn"><i class="fas fa-glasses"></i>Home</a>
  </div>
      <div class="menu-item" *ngIf="cookieService.get('userLogged')==='librarianDemo'">
      <a href="#/rent-book" mat-menu-item class="btn"><i class="fas fa-book"></i>Rent book</a>
    </div>
      <div class="menu-item" *ngIf="cookieService.get('userLogged')==='librarianDemo'">
        <a href="#/create-user-account" mat-menu-item class="btn"><i class="fas fa-users-cog"></i>Create new user account</a>
      </div>
      <div class="menu-item" *ngIf="cookieService.get('userLogged')==='librarianDemo'">
        <a href="#/books" mat-menu-item class="btn"><i class="fas fa-bell"></i>Check rents</a>
      </div>
      <div class="menu-item" *ngIf="cookieService.get('userLogged')==='librarianDemo'">
        <a href="#/books" mat-menu-item class="btn"><i class="fas fa-plus-circle"></i>Add book</a>
      </div>
      <div class="menu-item" *ngIf="cookieService.get('userLogged')==='userDemo'">
        <a href="#/my-profile"  mat-menu-item class="btn"><i class="fas fa-user-edit"></i>My profile</a>
      </div>
      <div class="menu-item" *ngIf="cookieService.get('userLogged')==='userDemo'">
        <a href="#/rentedBooks"  mat-menu-item class="btn"><i class="fas fa-book"></i>History</a>
      </div>
      <div *ngIf="cookieService.get('userLogged')==='userDemo'" class="menu-item" ><a href="#/contact" mat-menu-item class="btn"><i class="fab fa-hire-a-helper"></i>Contact</a></div>
    </mat-sidenav>
  </mat-sidenav-container>
</ng-container>

