.table-rents{
  .mat-elevation-z8{
    padding: 20px;
    margin-left: 10%;
    width: 80%;
    .mat-table thead{
      background: #1cbaca;
    }
    th{
      text-align: center;
      background: #00B4CC;
      font-size: 22px;
      font-weight: bold;
    }
  }
  .mat-elevation-z9{
    padding: 20px;
    margin-left: 10%;
    width: 80%;
    .mat-table thead{
      background: #99f2fa;
    }
    th{
      text-align: center;
      background: #cb901e;
      font-size: 22px;
      font-weight: bold;
    }
  }
  .rented-books-table{
    padding-top: 15px;
  }
.fa-envelope-square{
  font-size: 22px;
}
  .fa-envelope-square:hover{
    cursor: pointer;
    font-size: 22px;
    background: #00B4CC;
    color: #c96550;
  }
}

.check-list-title{
  letter-spacing: 5px;
  padding: 10px;
}

.no-rented-books{
  letter-spacing: 3px;
  color:darkgreen;
}

.returnBook{
  cursor: pointer;
}

.returnBook:hover{
  color:darkgreen;
  font-weight: bold;
  background: lightgoldenrodyellow;
}
.example-card{
  font-size: 22px;
  i{
    padding: 5px;
    background: white;
    margin: 5px;
  }
  max-width: 500px;
  max-height: 550px;
  margin:auto;
  margin-bottom: 5%;
  display: block;
}
.returnNow{
  background: red;
}
