<div class="container" *ngIf="cookieService.get('userToken')">
<div id="large-th">
  <div class="select-location"><mat-form-field class="select-location">
      <mat-label>   <i class="fas fa-map-marker-alt"></i>Choose library location</mat-label>
      <mat-select>
        <mat-option *ngFor="let location of locations" [value]="location.id">
          {{location.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="container">
    <br>
    <div class="row">
      <div id="list-th" class="col-md-4 col-sm-3" *ngFor="let book of books">
        <app-book-card (click)="goToBookVirew(book.id)" class="bookCard" [author]="book.author" [title]="book.title" [cover]="book.cover"></app-book-card>

      </div>
    </div>
  </div>
</div>

</div>
