@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
.header{
  font-family: Poppins-Regular;
  src: url('../../../app/login/login/fonts/poppins/Poppins-Regular.ttf');
  background: linear-gradient(#badfdb, #fcf9ea);
  min-height: 100px;
  border-bottom: 1px solid #8a2303;
  max-height: 158px;
  margin-top: -25px;
  margin-left: 215px;
 font-weight: bold;
  padding: 10px;
  z-index: -1;
  display: flex;
  flex-direction: row;
  h2{
    padding: 30px;
  }
  .logout-a{
    .fas{
      padding: 5px;
    }
    color:#8a2303;
    margin-top: 15px;
    //margin-left:10%;
    font-weight: bold;
    font-size: 30px;
    padding: 30px;

  }
}
.mac-outer .st0 {
  fill: none;
  stroke: #FFFFFF;
  stroke-miterlimit: 10;
}

.mac-outer .st1 {
  fill: none;
  stroke: #FFFFFF;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.mac-outer .st2 {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 0.25;
  stroke-miterlimit: 10;
}

.mac-hello {
  grid-row: 5;
  grid-column: 5/11;
}

.mac-hello .st0 {
  stroke: #ffffff;
  stroke-width: 15;
  stroke-linecap: round;
}

.mac-hello {
  stroke-dasharray: 4200;
  stroke-dashoffset: 4200; /* Reset to 250 and then reduce with animation to give the desired effect */
  animation: writeIn 2.5s linear forwards;
}

@keyframes writeIn {
  0% {
    stroke-dashoffset: 4000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
.search {
  width: 60%;
  font-family: Poppins-Regular,sans-serif;
  font-size: 22px;
  position: relative;
  display: flex;
  margin-top:30px;
  padding: 20px;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.col-md-3{
  img {
    width: 35px;
    border-radius: 50px;
    float: left;
  }

  .logout {
    font-size: .7em;
    font-family: Poppins-Regular,sans-serif;
    position: relative;
    right: -18px;
    bottom: -4px;
    overflow: hidden;
    letter-spacing: 20px;
    text-transform: uppercase;
    line-height: 1.5;
    opacity: 0;
    transition: opacity .45s;
    -webkit-transition: opacity .35s;

  }

  .button {
    text-decoration: none;
    float: right;
    padding: 12px;
    margin-top: 25px;
  margin-right: 20px;
    color: #1cbaca;
    width: 60px;
    border-radius: 50%;
    border: #dea475 2px solid;
    background: linear-gradient(#badfdb,#fcf9ea);
    transition: width .35s;
    -webkit-transition: width .35s;
    overflow: hidden
  }

  a:hover {
    width: 290px;
  }

  a:hover .logout{
    opacity: .9;
  }

  a {
    text-decoration: none;
  }


}
