<div class="header">
  <div class="col-md-9">
    <div class="search " *ngIf="cookieService.get('userLogged') && router.url==='/books'" >
      <input type="text" [(ngModel)]="searchValue" class="searchTerm" placeholder="What are you looking for?">
      <button type="submit" (click)="search()" class="searchButton">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>
  <div class="col-md-3">
    <a  *ngIf="cookieService.get('userLogged')" href="/login" class="button logout-a" >
      <img src="https://images.vexels.com/media/users/3/137047/isolated/preview/5831a17a290077c646a48c4db78a81bb-user-profile-blue-icon-by-vexels.png">
      <div class="logout" (click)="logout()">LOGOUT</div>
    </a>
  </div>

<!--  <a ><i class="fas fa-sign-out-alt"></i>Logout</a>-->
</div>

