<div class="lend-book-form">
  <h1 class="renting-title">RENT A BOOK TO A USER</h1>
  <div class="row">
    <h1>1.</h1>
    <mat-form-field>
      <mat-label>Select user</mat-label>
      <mat-select>
        <mat-option *ngFor="let user of users" [value]="user.id">
          {{user.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <span class="span-col-or">or</span><a class="create-user-account-a" href="/create-user-account">Create user account</a>
  </div>
  <div class="row" >
    <h1>2.</h1>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Book" aria-label="Book" [matAutocomplete]="auto" [(ngModel)]="selectedBook">
      <mat-autocomplete #auto="matAutocomplete" *ngIf="possibleBooks">
        <mat-option *ngFor="let book of possibleBooks" [value]="book.title">
          <img class="example-option-img" aria-hidden [src]="book.cover" height="25">
          <span>{{book.title}}</span> |
          <small>Author: {{book.AuthorId}}</small>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div class="row">
    <h1>3.</h1>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose start date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="row">
    <h1>4.</h1>
    <mat-form-field>
      <input matInput [matDatepicker]="picker2" placeholder="Choose end date">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
  </div>
  <button mat-button class="btn" (click)="rentBook()">Rent book </button>
</div>
