<div class="lend-book-form">
  <h1 class="renting-title">RENT A BOOK TO A USER</h1>
  <div class="row">
    <h1>1.</h1>
    <mat-form-field>
      <mat-label>Select user</mat-label>
      <mat-select [(ngModel)]="userSelected">
        <mat-option *ngFor="let user of users" [value]="user.id">
          {{user.first_name}} {{user.last_name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <span class="span-col-or">or</span><a class="create-user-account-a" href="/create-user-account">Create user account</a>
  </div>
  <div class="row" >
    <h1>2.</h1>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Book" aria-label="Book" [(ngModel)]="bookInput">
    </mat-form-field>
    <i class="fas fa-search" (click)="searchBook()" ></i>
  </div>
  <div class="row" *ngIf="filteredBooks.length>0">
    <div class="col-md-12 booksFiltered" *ngFor="let filterbook of filteredBooks">
      <div (click)="selectBook(filterbook)">
        {{filterbook.title}} by {{filterbook.Author.name}} {{filterbook.bookCopies.length}} copies
      </div>
    </div>
  </div>
  <div class="row">
    <h1>3.</h1>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" [(ngModel)]="startDate" placeholder="Choose start date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="row">
    <h1>4.</h1>
    <mat-form-field>
      <input matInput [matDatepicker]="picker2" [(ngModel)]="endDate" placeholder="Choose end date">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
  </div>
  <button mat-button class="btn" (click)="rentBook()">Rent book </button>
</div>
