.lend-book-form{
 margin-left: 10%;
 padding-top: 20px;
}
.create-user-account-a{
  padding: 15px;
  font-weight: bold;
  font-size: 22px;
  color:#8a2303;
  font-family: Poppins-Regular;
  src: url('../../../app/login/login/fonts/poppins/Poppins-Regular.ttf');
}
.span-col{
  padding: 10px;
  font-weight: bold;
  font-size: 22px;
}
