/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css?family=Hepta+Slab&display=swap');
@import '~bootstrap/dist/css/bootstrap.min.css';
a{
  font-family: Poppins-Regular;
  src: url('./app/login/login/fonts/poppins/Poppins-Regular.ttf');
}
p,h1,h2,h3,h4,h5,h6{
  font-family: Poppins-Regular;
  src: url('./app/login/login/fonts/poppins/Poppins-Regular.ttf');
}
body{
  font-family: Poppins-Regular;
  src: url('./app/login/login/fonts/poppins/Poppins-Regular.ttf');
}
footer{
  font-family: Poppins-Regular;
  src: url('./app/login/login/fonts/poppins/Poppins-Regular.ttf');
}
.lo-container{
  margin-bottom: 0;
}
table{
  font-family: 'Hepta Slab', serif;
  font-weight: bold;
  thead{
    th{
      font-size: 28px;
    }

  }
}
.mat-form-field-appearance-legacy .mat-form-field-infix{
  font-size: 15px;
}

.example-sidenav{
  bottom: 7vh!important;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: #888;*/
  border-radius: 6rem;
  background-color: rgba(250, 130, 32, 0.6);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /*background: #555;*/
  border-radius: 6rem;
  background-color: rgba(219, 161, 37, 0.8);
}
td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  text-align: center!important;
}

//.mat-drawer-inner-container{
//  width: 47%!important;
//}

.example-sidenav{
  width: 16%!important;
}
@media screen and (max-width: 600px) {
  h1{
    font-size: 22px!important;
  }

 .mat-form-field{
   width: 170px!important;
 }
  button{
    width: 100px!important;
  }

  .example-sidenav{
    width: 30%!important;
    img{
      width: 30%!important;
    }
  }

  .search{
    width: 115%!important;
  }

  app-footer{
    font-size: 15px!important;
    p{
      font-size: 12px!important;
      letter-spacing: 2px!important;
      padding: 5px!important;
    }
  }

  .wrap-login100-form-btn{
    width: 70%!important;
  }
}
