.buttonDiv{
 padding: 20px;

  text-align: center;
  button{
    margin: 20px;
    background: #99f2fa;
    color: #694429;
    font-weight: bolder;
  }
}
h1{
  text-align: center;
  letter-spacing: 3px;
  font-weight: lighter;
  color: #9c6b35;
}
