.search {
  width: 60%;
  font-family: Poppins-Regular,sans-serif;
  font-size: 15px;
  position: relative;
  display: flex;
  margin-top:30px;
  padding: 20px;
}

h1{
  letter-spacing: 3px;
  padding: 10px;
  color: #00363f;
}
.searchDiv{
  margin-left: 17%;
}
.searchTerm {
  width: 100%;
  border: 3px solid #0090a8;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #5ffdd3;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
table {
  width: 68%;
  margin-left: -3%;
}
td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  letter-spacing: 5px;
  font-weight: bold;
}

tr.mat-header-row {
  background: #00B4CC;

}

.fas.fa-trash{
  cursor:pointer;
}

.fas:hover{
  color:red;
  opacity:0.5;
}
mat-progress-spinner{
  margin-left: 25%;
}
