<div class="container" *ngIf="!showEdit">

  <h4><i class="far fa-user"></i>Name: {{userLogged.first_name}} {{userLogged.last_name}}</h4>
  <h4><i class="fas fa-at"></i>Email : {{userLogged.email}}</h4>
  <h4><i class="fas fa-map-marker-alt"></i>Address : {{userLogged.address}}</h4>
</div>
<button type="button" *ngIf="!showEdit" class="btn btn-secondary" (click)="showEditProfile()">Edit</button>
<div class="container-edit" *ngIf="showEdit">
  <h1 class="edit-title">Edit profile data</h1>
  <input type="text" class="form-control" [(ngModel)]="userLogged.name" placeholder="Name">
  <input type="email" class="form-control" [(ngModel)]="userLogged.email" placeholder="Email">
  <input type="text" class="form-control" [(ngModel)]="userLogged.address" placeholder="Address">
  <input type="password" class="form-control" [(ngModel)]="userLogged.password" placeholder="Password">
  <div class="form-group" id="pay-now">
    <button type="button" class="btn btn-default" (click)="updateProfile()" id="confirm-purchase">Confirm</button>
  </div>
</div>
